.menu .active{
	border:100px solid lightblue;
}
.menu{
	list-style:none;
	padding: 0;
	margin: 0;
	width:600px;
	border:50px solid lightblue;
	font-size:0;
}
.menu ul{
	list-style:none;
	padding: 0;
	margin: 0;
	width:600px;
	height:300px
}
.menu a{
	text-decoration:none;
	color:black;
	display:block;
	padding: 5px 10px;
} 
.menu>li:hover>a{
	background:white;
	width:160px;
	height:110px;
}
.menu li li a{
	color:black;
} 
.menu li li:hover a{
	font-weight:bold;
	color:red;
} 
.menu >li{
	position:relative;
	font-size:1rem;
	display: inline-block;
} 
.menu ul{
	position:absolute;
	top: 10;
	z-index: 10;
	display: none;
} 
.menu >li:hover ul{
	display: block;
} 
.grau{
	background-color:gray;
	text-align:center;
}
ul{
	border:10px solid lightblue;
}
li{
	width:150px;
	height:100px;
}